:default: &default

:development:
  <<: *default
  :js:
    :host: localhost:4500

:staging:
  <<: *default
  :js:
    :host: js.staging.pusherapp.com
  :s3:
    :bucket: pusher-js-staging
    :access_key_id: 
    :secret_access_key: 

:production:
  <<: *default
  :js:
    :host: js.pusherapp.com
  :s3:
    :cf_distribution_id: <YOUR AWS CLOUD FRONT DISTRIBUTION ID>
    :bucket: pusher-js
    :access_key_id:
    :secret_access_key:
