body {
  background: #EEE;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; }

#container {
  position: relative;
  width: 40%;
  margin: 0 auto 40px;
  background: white;
  border: 1px solid #d0d0d0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0; }
  #container header h2 {
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    padding: 0.4em 0 0.7em;
    margin: 0;
    line-height: 1em; }
  #container header button#run-all {
    background: #489F25;
    border: medium none;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 0.25em 0.75em;
    position: absolute;
    right: 20px;
    top: 1.2em; }
  #container #suites-list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    #container #suites-list li.suite {
      border-top: 1px solid #CCC;
      border-bottom: 4px solid #fff;
      font-size: 14px;
      position: relative;
      display: block;
      margin: 0; }
      #container #suites-list li.suite.success {
        background: #489F25; }
      #container #suites-list li.suite.failure, #container #suites-list li.suite.error {
        background: #DB4F32; }
      #container #suites-list li.suite.running {
        background: #CCC; }
      #container #suites-list li.suite .overview {
        background: white;
        margin: 0 0 0 4px;
        padding: 0.5em 1em 0.5em 2em; }
        #container #suites-list li.suite .overview h3 {
          cursor: pointer;
          font-weight: bold;
          margin: 0.5em 0 0;
          line-height: 1.4em; }
        #container #suites-list li.suite .overview button {
          color: #FFF;
          background: #777;
          border: medium none;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          cursor: pointer;
          display: block;
          font-size: 13px;
          padding: 3px 8px;
          position: absolute;
          right: 20px;
          top: 15px; }
      #container #suites-list li.suite .tests-list {
        list-style-type: none;
        background: white;
        margin: 0;
        padding: 0 0 0.5em;
        margin: 0;
        display: block; }
        #container #suites-list li.suite .tests-list li {
          font-weight: normal;
          font-size: 0.9em;
          padding: 0.5em 0;
          position: relative;
          display: block;
          cursor: pointer;
          border-top: 1px solid #ddd; }
          #container #suites-list li.suite .tests-list li:hover {
            background-color: #f9f9f9; }
          #container #suites-list li.suite .tests-list li p.name {
            display: block;
            overflow: hidden;
            white-space: pre;
            margin: 0;
            padding: 0 0 0 2.5em; }
            #container #suites-list li.suite .tests-list li p.name em {
              font-style: normal;
              text-transform: uppercase; }
          #container #suites-list li.suite .tests-list li.success p.name {
            color: #489F25; }
          #container #suites-list li.suite .tests-list li.failure p.name, #container #suites-list li.suite .tests-list li.error p.name {
            font-weight: bold;
            color: #DB4F32; }
          #container #suites-list li.suite .tests-list li.running p.name {
            color: #888; }
          #container #suites-list li.suite .tests-list li .result {
            border-top: 1px dotted #eee;
            display: none;
            margin: 10px 0 0;
            padding: 8px 0 5px 2.5em;
            overflow: auto;
            white-space: pre; }
          #container #suites-list li.suite .tests-list li .test-func {
            display: none;
            border-top: 1px dotted #eee;
            margin: 5px 0 2px;
            padding: 8px 0 8px 2.5em;
            overflow: auto;
            white-space: pre-wrap;
            display: block; }
          #container #suites-list li.suite .tests-list li .summary {
            color: #BBB;
            font-weight: normal;
            height: 20px;
            margin-left: 15px; }

footer {
  border-top: 1px solid #d0d0d0;
  width: 40%;
  margin: 0 auto 2em;
  color: #777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 1px;
  text-align: center; }
  footer p {
    font-size: smaller; }
  footer a {
    color: #336699;
    text-decoration: underline; }
  footer a:hover, footer a:focus {
    color: #107BD6;
    text-decoration: none; }
